<div class="col-md-4 offset-md-3">
    {% for post in posts %}

    <div class="row">
        <div class="card">
            <div class="card-header">{{#Username}}</div>
            <img class="card-img-top" src="{{#}}">
            <div class="card-body">
                <h1 class="cart-text">{{#}} likes</h1>
                {for comment in comments %}
                <ul>
                <li class="cart-text">{{#Username}} {{#comment}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>